# Output of the go coverage tool, specifically when used with LiteIDE
*.out
testdata/
**/testdata/
**/results.bin

# allow only on root
**/go.mod
**/go.sum
!go.mod
!go.sum

# IDE files
.vscode
.DS_Store
.idea

# Misc
*.quick.gz
pocs/*
pocs.example/*
*.pprof
*.workspace
.pocs/

# Dependencies
/vendor/
vendor/
vendor
/Godeps/


# Test binary, built with `go test -c`
*.test
*.tmp
draft/*

# neovim ctags
tags

# coverage htmls
./middleware/*.html
./middleware/compress/*.html
./middleware/cors/*.html
./middleware/logger/*.html
./middleware/maxbody/*.html
./middleware/msgid/*.html
./middleware/msguuid/*.html
./httpclient/*.html
